/* $font-family-subtitles: 
$font-family-parrafos: 
$font-family-productos: */
@import url(../../css/main.css);
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

.fondo {
  background-color: #FCF7FF; }

header {
  /* Barra de Navegacion */ }
  header .logo {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 1%; }
  header .Titulo-Pagina {
    font-family: "Roboto", sans-serif;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #040404 #040404;
    display: flex;
    justify-content: center;
    position: static;
    font-weight: bold;
    text-decoration: dashed;
    padding-bottom: 1%; }
  header .parent a {
    text-decoration: none; }

#footer {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px;
  background-color: #797979;
  align-items: center;
  text-align: center; }

body {
  background: #FCF7FF; }
  body .texto-1 {
    text-align: center;
    font-size: 20px;
    color: #878C8F;
    margin-bottom: 5%; }

.fotosingresos img {
  position: relative;
  left: 600px; }

.productos {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FAA613;
  font-size: 50px;
  font-weight: bold;
  background-color: #929496; }

a {
  text-decoration: none;
  color: black;
  font-weight: bolder; }

.navbar {
  background-color: #ffffff;
  overflow: hidden;
  margin: auto;
  width: 700px;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-right: 10%;
  padding-left: 4%; }

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px; }

.banner img {
  height: 300px;
  width: 100%;
  display: block;
  margin-top: 5%; }

.cards {
  display: flex;
  justify-content: center;
  margin: 2%;
  flex-wrap: wrap; }

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  padding: 1%;
  margin: 2%;
  border-radius: 20px;
  background-color: white; }

.card-1 img {
  margin: auto;
  width: 50%; }
