/*  
*{ margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

    .logo{
        display: flex;
        justify-content: center;
        height: 100px;
        padding: 1%;
    }
    
    .Titulo-Pagina{
        display: flex;
        justify-content: center;
        position: static;
        font-weight: bold;
        color:white;
        text-decoration: dashed;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        
    }
    
    
    .links{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        
    }
    
    .button1 {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .button1 p 
    { font-size: 80%;}
    
.parent a {text-decoration: none

}
.parent 
        {display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;
        margin: auto; 
        text-decoration: none;
    }


body {
    background:rgba(44, 44, 44, 0.863);
    
}

.texto-1 { text-align: center;
    font-size: 20px;
    color: rgb(252, 17, 9);
margin-bottom: 5%;}
    
    
.productos {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FAA613;
   font-size: 50px;
    font-weight: bold;
    background-color: #929496;
    }

   
#barra-de-navegacion ul {list-style-type: none;
display: flex;
justify-content: space-around;
height: 70px;
background-color: rgba(255, 255, 255, 0);
left: -10%;
align-items: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 4px;
border: 1px solid rgb(2, 2, 2);
width: 100%;
margin-left:60px;
margin-right:60px;}
.servicios-titulo { display: flex;
justify-content: center;
text-align: center;
color: aliceblue;
margin-top: 5%; 
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-left: 0px;
margin: -50px;} 
    

nav a:hover {
    color:rgb(0, 0, 0)}


.banner img 
    {height: 300px;
    width: 100%;
    display: block;
margin-top: 5%;}

.fotosingresos img { position: relative;
    left: 600px;}


    
.cards{
        display: flex;
        justify-content: center;
        margin: 2%;
        flex-wrap: wrap;
    
    }
    
.card-1{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        text-align: center;
        width: 300px;
        height: 300px;
        border-style: solid;
        border-width: 2px;
        padding: 1%;
        margin: 2%;
        border-radius: 20px;
        background-color: white;
    }
    
.card-1 img{
        margin: auto;
        width: 50%;
    }

#footer { 
        margin-top: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px;
        background-color: rgb(121, 121, 121);
        align-items: center;
        text-align: center;
        }*/