body {
background: #FCF7FF;

.texto-1 { 
text-align: center;
font-size: 20px;
color: $active-color;
margin-bottom: 5%;}
}

.fotosingresos img { position: relative;
left: 600px;}

.productos {
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #FAA613;
font-size: 50px;
font-weight: bold;
background-color: #929496;
}


a{
text-decoration: none;
color: rgb(0, 0, 0);
font-weight: bolder;
} 
        
    
.navbar {
background-color: #ffffff;
overflow: hidden;
margin: auto;
width: 700px;
border-top-style:solid;
border-bottom-style:solid;
padding-right: 10%;
padding-left: 4%;

}
        /* Style the links inside the navigation bar */
.navbar a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

    
    
.banner img 
{height: 300px;
width: 100%;
display: block;
margin-top: 5%;}   



