#footer { 
    margin-top: 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px;
    background-color: rgb(121, 121, 121);
    align-items: center;
    text-align: center;
    }