@import "../../css/main.css";
header{ 
                                                                    /* Barra de Navegacion */
    .logo{
        display: flex;
        justify-content: center;
        height: 100px;
        padding: 1%;
    }
    
    .Titulo-Pagina { font-family: $font-family-primary;
        font-family: $font-family-h1;
        color: red;
        display: flex;
        justify-content: center;
        position: static;
        font-weight: bold;
        text-decoration: dashed;
    }
                                                                       /* links */
    .links{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        
    }

    .parent a {text-decoration: none

    }
    .parent 
            {display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            text-align: center;
            margin: auto; 
            text-decoration: none;
        }
}

