@import "../../css/main.css";
header{ 
                                                                    /* Barra de Navegacion */
    .logo{
        display: flex;
        justify-content: center;
        height:140px;
        padding: 1%;
    }
    
    .Titulo-Pagina {  
        font-family: $font-family-h1;
        color: $title-color #040404;
        display: flex;
        justify-content: center;
        position: static;
        font-weight: bold;
        text-decoration: dashed;
        padding-bottom: 1%;
        
    }

    .parent a {text-decoration: none

    }
}

.marquee{
    width: 100%;
    background-color: $secondary-color;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.marquee div{
    font-family: $font-family-primary;
    animation: animate 4s linear infinite;
    padding-left: 100%;
    display: inline-block;
    
}

@keyframes animate {
    100%{
    transform: translate(-100%-0);
}
}

