header{ 
                                                                    /* Barra de Navegacion */
    #barra-de-navegacion ul {list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: $secondary-color;
    left: -10%;
    align-items: center;
    font-family: $font-family-primary;
    padding: 4px;
    border: 1px solid rgb(2, 2, 2);
    width: 100%;
    margin-left:60px;
    margin-right:60px;}

    .logo{
        display: flex;
        justify-content: center;
        height: 100px;
        padding: 1%;
    }
    
    .Titulo-Pagina { font-family: $font-family-primary;
        font-family: $font-family-h1;
        color: $title-color;
        display: flex;
        justify-content: center;
        position: static;
        font-weight: bold;
        text-decoration: dashed;
    }
                                                                       /* links */
    .links{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        
    }

    .parent a {text-decoration: none

    }
    .parent 
            {display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            text-align: center;
            margin: auto; 
            text-decoration: none;
        }
}

