
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.product-content{
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: white;
}

.product-content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0, -8px);

}

.product-content img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.product-content h3{
    font-size: 26px;
    text-align: center;
    color: #131515;
    margin: 0;
}

.product-content h2{
    font-size: 130%;
    text-align: center;
    color: #131515;
    margin: 0;
}

button{
    text-align: center;
    font-size: 130%;
    font-family: $font-family-primary;
    color: black;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.product-content .buy{
    background-color:#769FB6; 
}



